{% extends 'base.html' %}
{% load static%}
{% block 'main'%}
<div class="row mt-4">
    <div class="col-md-3 bg-light p-3 bg-dark text-white">
        <h5>Filter By Category</h5>
        <p><a href="/products" class="anchore">All</a></p>
        <p><a href="/catfilter/1" class="anchore">Collars,Leashes&Harnesses</a></p>
        <p><a href="/catfilter/2" class="anchore">Food</a></p>
        <p><a href="/catfilter/3" class="anchore">Cloth</a></p>
        <p><a href="/catfilter/4" class="anchore">Toys</a></p>
        <p><a href="/catfilter/5" class="anchore">Health&Hygiene</a></p>
        <p><a href="/catfilter/6" class="anchore">Bowls&Feeders</a></p>
        <p><a href="/catfilter/7" class="anchore">Pharmacy</a></p>
        <br>

        <h5>Filter by price</h5><hr>
        <form method="GET">
          <div class="mb-3">
            <label for="Input1" class="form-label">Min</label>
            <input type="number" class="form-control" id="Input1" name="min">
          </div>
          <div class="mb-3">
            <label for="Input2" class="form-label">Max</label>
            <input type="number" class="form-control" id="Input2" name="max">
          </div>
          <div class="mb-3">
            <input type="submit" class="btn btn-danger" value="search">
          </div>

        </form>

        <h5>Sort By Price</h5><hr>
            <p><a class="anchore" href="/sort/1">High to Low</a></p>
            <p><a class="anchore" href="/sort/0">Low to High</a></p>

    </div><!--side bar end-->
    <div class="col-md-9 bg-light p-3">
        <div class="row">
        {% if msg %}
            <div class="alert alert-danger">
            {{msg}}
              
            </div>
          {% endif %}
          {% for x in data %}
           <div class="col-md-3">
               <div class="card" style="height: 100%; width: 100% ; " >
                   <img src="{{x.pimage.url}}" class="card-img-top" alt="...">
                   <div class="card-body"> 
                   <h5 class="card-title">{{x.name}}</h5>
                   <p class="card-text">{{x.pdetails}}</p>
                   <p class="card-text">RS.{{x.price}}</p>
                   <a href="/product_detail/{{x.id}}" class="btn btn-danger">See Details</a>
                   </div>  
               </div>
           </div><!--Product 1 end-->
           {% endfor %}
                
        </div>
    </div><!--produc list end-->
    
   </div><!--Main section end or 2nd row end-->

{% endblock 'main' %}